<h1>About</h1>
<p>This all started as an idea for automating malware investigations. Most sources tell you if there is a
known bad but there wasn't a great source for reporting a known good</p>
<p>Think of this as the anti-VirusTotal. Report on any non-malicious hashes.</p>
<p>It's pretty simple to use the site enter a hash and select the type and any information if it is a known good
hash will be returned</p>
<a href="/">Home</a>