<h1>API</h1>
<p>There is an api available, right now you can make a GET request to /hashes with the following parameters:</p>
<ul>
<li>hash: the hash to search</li>
<li>hashType: either sha1 or md5</li>
</ul>

<a href="/">Home</a>