<br><br>
<div class="main-content">
<form id="hashQuery" action="#">
    Hash:
    <input type="text" id="hash" required/>
      HashType:
    <select id="hashType">
    <option value="md5">MD5</option>
    <option value="sha1">SHA1</option>
    </select> 
    <input type="submit" id="submit"/>
    </form>
</div>
<br><br>
<div id="results"></div>
