body {
        background-color: #fbfbff;
}

.header-content{
    background-color: #01baef;
    text-align: center;
    padding: 10px;
    font-family: copperplate;
    color: #040f16;
}

.main-content {
    width: 50%;
    position: relative;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}


ul {
    position: relative;
    text-align: center;
    margin: auto;
}


.footer {
    background-color: #01baef;
    text-align: center;
    padding: 10px;
} 

.menu-content {
    background-color: #01baef;
    padding: 20px;
    font-family: copperplate;
    color: #040f16;
    text-align: center;
}

.menu-content a {
    float: center;
    display: inline;
    color: #040f16;
    background-color: #01baef;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    font-family: copperplate;
    text-decoration: underline;
}

.menu-content a:hover {
    background-color: #ddd;
    color: #040f16;
}