@import url(https://fonts.googleapis.com/css?family=Rubik+Mono+One);

body {
        background-color: #fbfbff;
}

.header-content{
    background-color: #01baef;
    text-align: center;
    padding: 5px;
    color: black;
    font-family: "Rubik Mono One";
    color: black;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
}

.header-content h1 {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.main-content {
    width: 50%;
    position: relative;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}


ul {
    position: relative;
    text-align: center;
    margin: auto;
}


.menu-content {
    background-color: #01baef;
    padding: 20px;
    font-family: copperplate;
    color: #040f16;
    text-align: center;
    box-shadow: 0px 5px #c6d9ec;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
}

.menu-content a {
    float: center;
    display: inline;
    color: #040f16;
    background-color: #01baef;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    font-family: copperplate;
    text-decoration: underline;
}

.menu-content a:hover {
    background-color: #ddd;
    color: #040f16;
}